<!-- NavBar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/megaman-one-up.png" alt="RockmanJoe64" height="24" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- prettier-ignore -->
        {% for entry in site.data.navigation %}
        {% if page.title == entry.name %}
        <a class="nav-link active" aria-current="page" href="{{ entry.url }}">{{ entry.name }}</a>
        {% else %}
        <a class="nav-link" href="{{ entry.url }}">{{ entry.name }}</a>
        <!-- prettier-ignore -->
        {% endif %}
        {% endfor %}
        <a class="nav-link icon-link" href="#" x-on:click="darkMode = !darkMode">
          <i x-bind:class="darkMode ? 'bi-sun-fill' : 'bi-moon-fill'"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
