:root {
    --font-family-base: 'Ubuntu Mono', sans-serif;
    --font-base-size: 1.1rem;
    --background-color: rgb(15, 23, 42);
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-base-size);
}